body {
    background-color: white;
}

.searchBtn {
    background-color: #0077ff;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.col-12 {
    text-align: center;
    display: block;
}
.container {
    background-color: #0077ff;
    width: 130px;
    border-radius: 0px;
}
.forecast {
    text-align: center;
    display: block;
    background-color: #0077ff;
    width: 130px;
    border-radius: 0px;
}


/* If I want to hide before searched */
.hide {
    display: none;
}

.show {
    display: block;
}